@import "reset";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #2b2d5c;
}

::selection {
	background-color: #333;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

svg {
	fill: currentColor;
}

.svg__item {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.button-wrap {
	text-align: center;
	&__about {
		margin-top: 78px;
		margin-bottom: 100px;
		text-align: left;
	}
}

.button {
	text-decoration: none;
	color: #2b2d5c;
	background: $accent;
	font-size: 1em;
	font-family: $muli-reg;
	border-radius: 30px;
	padding: 18px 60px 18px 55px;
	text-transform: capitalize;
	transition: all .3s ease;
	&:hover {
		opacity: .9;
	}
	&__about {
		background-color: #2b2d5c;
		color: #fefeff;
		text-transform: uppercase;
		font-size: .875em;
	}
	&__portfolio {
		position: absolute;
		bottom: 37px;
		left: 31%;
		background-color: transparent;
		border: 1px solid $accent;
		text-transform: uppercase;
		color: $accent;
		padding: 11px 70px 12px 65px;
	}
	&__submit {
		text-transform: uppercase;
		padding: 14px 40px;
		border: 1px solid $accent;
		&:focus, &:active {
			outline: none;
		}
	}
}

.section-header {
	font-size: 40px;
	color: #2b2d5c;
	font-family: $tri-reg;
	font-weight: 200;
	&__light {
		text-align: center;
		text-transform: capitalize;
		color: #ffffff;
		margin-bottom: 20px;
	}
	&__blog {
		color: #2b2d5c;
		text-align: center;
	}
}

.button-top {
	position: sticky;
	width: 70px;
	height: 57px;
	background-color: #cbcbd7;
	bottom: 5%;
	left: 77%;
	z-index: 999;
	cursor: pointer;
	display: none;
	span {
		width: 12px;
		height: 2px;
		background-color: #2c2e5d;
		position: absolute;
		left: 49%;
		top: 47%;
		transform: translate(-50%, -50%);
		&:nth-child(even) {
			transform: rotate(45deg);
		}
		&:nth-child(odd) {
			transform: rotate(-45deg);
			left: 27px;
		}
		&:nth-child(1) {
			top: 32px;
		}
		&:nth-child(2) {
			top: 32px;
		}
	}
}

.alert-success {
	background: #2aabd2;
	position: fixed;
	z-index: 9999;
	top: 10px;
	right: 10px;
	padding: 5px;
	border-radius: 5px;
}

.icon {
	display: inline-block;
	background: url('../img/sprite.svg') no-repeat;
	transition: .3s ease;
	&:hover {
		opacity: .8;
	}
}
.icon-facebook {
	width: 24px;
	height: 24px;
	background-position: 0 0;
}
.icon-twitter {
	width: 24px;
	height: 24px;
	background-position: -40px 0;
}
.icon-instagram {
	width: 24px;
	height: 24px;
	background-position: -80px 0;
}
.icon-flickr {
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	border-radius: 5px;
	background-position: -120px 0;
}

/* --------------- HEADER --------------- */
header {
	background: url('../img/bg_header.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	color: #ffffff;
	position: relative;
}

nav {
	padding-top: 66px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
}

.logo {
	font-size: 20px;
	text-transform: uppercase;
	font-family: $muli-reg;
	font-weight: 800;
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		margin-right: 9px;
		width: 26px;
		height: 26px;
		background: url('../img/logo_icon.png');
	}
}

.plus {
	display: flex;
	position: relative;
	bottom: 15%;
	&__item {
		width: 124px;
		height: 1px;
		background-color: #ffffff;
		position: absolute;
		&:nth-child(2) {
			transform: rotate(90deg);
		}
	}
}

.menu {
	&__item {
		display: inline-block;
		margin-right: 12px;
		padding-bottom: 10px;
		&:last-child {
			margin-right: 0;
			.menu__link {
				padding-right: 0;
			}
			.menu__link:hover:after,
			.menu__link:focus:after {
				left: 60%;
				width: 110%;
			}
		}
	}
	&__link {
		text-decoration: none;
		color: #ffffff;
		font-family: $muli-reg;
		font-weight: 600;
		font-size: .875em;
		position: relative;
		padding-right: 7px;
		padding-left: 7px;
		transition: all 1s ease;
		&:after {
			content: '';
			height: 1px;
			background: $accent;
			width: 0%;
			left:50%;
			bottom: -10px;
			position:absolute;
			transition: width .3s ease-in-out;
			transform:translateX(-50%);
		}
	}
	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}
}

.header-content {
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	&__header {
		font-size: 3.75em;
		font-family: $tri-reg;
		font-weight: 200;
		line-height: 1.2;
		margin-bottom: 14px;
		position: relative;
	}
	&__description {
		font-family: $muli-reg;
		font-weight: 100;
		font-size: 1.25em;
		margin-bottom: 47px;
	}
}

.social {
	position: absolute;
	bottom: 7%;
	right: 7.5%;
	z-index: 9999;
	&:before {
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: #ffffff;
		position: absolute;
		left: -160px;
		top: -5px;
		transform: rotate(90deg);
	}
	&:after {
		content: '';
		display: inline-block;
		width: 220%;
		height: 1px;
		background-color: #ffffff;
		position: absolute;
		left: -123px;
		top: -31px;
	}
	&__item {
		display: inline-block;
		overflow: hidden;
		margin: 0 23px 0 5px;
		width: 24px;
		height: 24px;
	}
	&__link {
		text-decoration: none;
		color: #ffffff;
		transition: all .2s ease;
		&:hover {
			color: $accent;
			opacity: .8;
		}
	}
}


.scroll {
	position: absolute;
	left: 50%;
	bottom: 11%;
	transform: translateX(-50%);
	cursor: pointer;
	width: 32px;
	height: 32px;
	&__wrap {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
	}
	&__item {
		display: block;
		width: 20px;
		height: 1px;
		background-color: #ffffff;
		position: absolute;
		bottom: 13px;
		left: 0;
		transform: rotate(45deg);
		&:nth-child(4) {
			transform: rotate(-45deg);
			left: 14px;
		}
		&-yel {
			background-color: $accent;
			bottom: 20px;
			transform: rotate(45deg);
			&:nth-child(2) {
				transform: rotate(-45deg);
				left: 14px;
			}
		}
	}
}

/* --------------- ABOUT --------------- */
#about {
	background-color: #f7f7fc;
	padding-top: 100px;
	overflow: hidden;
	position: relative;
}

.about {
	&-top {
		padding-left: 10px;
		padding-right: 10px;
	}
	&-bottom {
		min-height: 150px;
		background-color: #ffffff;
	}
	&__left {
		position: absolute;
		left: 0;
	}
	&-content {
		margin-left: 435px;
	}
	&__header {
		text-transform: capitalize;
		font-size: 1.625em;
		color: #2b2d5c;
		margin-top: 20px;
		font-family: $tri-reg;
		font-weight: 200;
	}
	&-article {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		&__header {
			color: #595666;
			font-family: $muli-reg;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
	}
}

.description {
	margin-top: 12px;
	line-height: 1.8;
	color: #595666;
}


/* --------------- CLIENTS --------------- */
#clients {
	background: url('../img/bg_clients.jpg') no-repeat center;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 80px;
}

.clients {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* --------------- PORTFOLIO --------------- */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}

.portfolio {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	&__description {
		position: relative;
		border: 1px solid #4d407c;
		border-left: none;
		width: 120%;
		padding: 138px 120px 0 78px;
		flex-basis: 725px;
		color: #2b2d5c;
		margin-top: 48px;
		z-index: 2;
		&__background {
			position: absolute;
			z-index: -1;
			width: 50%;
			height: 90%;
			background-color: #f7f7fc;
			right: 0;
			top: -50px;
		}
		&__background2 {
			position: absolute;
			z-index: -1;
			width: 120%;
			height: 100%;
			background-color: $accent;
			right: 50px;
			top: -50px;
		}
		&__border {
			position: absolute;
			right: -50px;
			top: 53px;
			width: 115%;
			height: 100%;
			border: 1px solid #4d407c;
			border-left: none;
		}
	}
	&__text {
		line-height: 1.8;
		margin-top: 48px;
		margin-bottom: 20px;
	}
	&__link {
		font-family: $muli-reg;
		font-weight: 600;
		text-decoration: none;
		color: #2b2d5c;
	}
}

.photo {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 145px;
	position: relative;
	&__item {
		margin-right: 30px;
		margin-bottom: 32px;
		overflow: hidden;
		position: relative;
		transition: all .3s ease;
		&:hover {
			.photo__item-hover {
				opacity: 1;
			}
		}
		&-hover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(43, 45, 92, 0.5);
			opacity: 0;
			transition: all .5s ease;
			&-plus {
				width: 76px;
				height: 1px;
				background-color: #ffffff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&-plus-yellow {
				width: 76px;
				height: 1px;
				background-color: $accent;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg) ;
			}
		}
	}
	&__item-1 {
		flex-basis: 370px;
		height: 463px;
	}
	&__item-6 {
		height: 252px;
	}
	&__other {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 145px;
	}
}

.ya-share2 {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	&:before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url('../img/link.png');
		position: absolute;
		left: 50%;
		top: -100%;
		transform: translateX(-50%);
	}
}

.ya-share2 .ya-share2__item_service_facebook .ya-share2__icon {
	@extend .icon;
	@extend .icon-facebook;
	fill: $accent;
}

.ya-share2 .ya-share2__item_service_facebook .ya-share2__badge {
	background: transparent;
}

.ya-share2 .ya-share2__item_service_twitter .ya-share2__icon {
	@extend .icon;
	@extend .icon-twitter;
}

.ya-share2 .ya-share2__item_service_twitter .ya-share2__badge {
	background: transparent;
}

/* --------------- BLOG --------------- */

#blog {
	background-color: #fafafd;
	padding-top: 70px;
}
.header-description {
	font-size: 1.25em;
	color: #2b2d5c;
	max-width: 475px;
	text-align: center;
	margin: 28px auto;
}

.blog {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
	&-bottom {
		min-height: 190px;
		background-color: #ffffff;
		margin-top: -119px;
	}
	&__description {
		color: #595666;
		font-size: 1em;
		line-height: 1.8;
		margin-bottom: 15px;
	}
	&__link {
		text-decoration: none;
		color: #595666;
		font-family: $muli-reg;
		font-size: 1em;
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			width: 96px;
			height: 11px;
			background-color: $accent;
			position: absolute;
			bottom: 0;
			left: 0;
			display: inline-block;
			z-index: -1;
		}
	}
}

.date {
	font-size: .9375em;
	margin-top: 12px;
	margin-bottom: 15px;
	&__select {
		font-family: $muli-reg;
		font-weight: 600;
	}

}

.item {
	max-width: 450px;
	background-color: #ffffff;
	margin-right: 65px;
	height: 615px;
	transition: all .5s ease;
	position: relative;
	overflow: hidden;
	&:hover {
		box-shadow: 0 0 28px 1px rgba(43,46,102,0.2);
	}
	&-content {
		padding-right: 30px;
		padding-left: 34px;
	}
	&__header {
		color: #2b2d5c;
		font-family: $muli-reg;
		font-weight: 600;
		margin-top: 10px;
		font-size: 1.25em;
	}
	&:nth-child(1) {
		&:before {
			content: '';
			width: 126px;
			height: 2px;
			display: inline-block;
			background-color: #2b2d5c;
			position: absolute;
			bottom: -63px;
			left: 95px;
			transform: rotate(90deg);
		}
		&:after {
			content: '';
			width: 258px;
			height: 2px;
			display: inline-block;
			background-color: #2b2d5c;
			position: absolute;
			bottom: -63px;
			left: -36px;
		}
	}
	&:nth-child(3) {
		&:before {
			content: '';
			width: 312px;
			height: 2px;
			display: inline-block;
			background-color: #2b2d5c;
			position: absolute;
			top: -157px;
			right: -37px;
			transform: rotate(90deg);
		}
		&:after {
			content: '';
			width: 256px;
			height: 2px;
			display: inline-block;
			background-color: #2b2d5c;
			position: absolute;
			top: -63px;
			right: -15px;
		}
	}
	&:nth-child(1), &:nth-child(3) {
		margin-top: -200px;
	}
	&:nth-child(3) {
		margin-right: 0;
	}
	&:nth-child(2) {
		margin-top: 45px;
	}
}

/* --------------- WORK --------------- */
#work {
	background: url('../img/bg_work.jpg') no-repeat center;
	background-size: cover;
	overflow: hidden;
	padding-top: 64px;
	padding-bottom: 73px;
	margin-bottom: -58px;
}

.all_form {
	width: 88%;
	color: #2b2d5c;
	background-color: #b5b5c6;
	padding-left: 27px;
	padding-right: 27px;
	font-size: 0.9375em;
}

.form {
	width: 500px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 20px;
	&__input {
		@extend .all_form;
		height: 45px;
	}
	&__textarea {
		@extend .all_form;
		height: 67px;
		resize: none;
		padding-top: 20px;
		margin-bottom: 30px;
	}
}

.error-name {
	margin: 5px;
	font-size: 80%;
	color: #ffffff;
	background-color: #900;
	opacity: 0;
	border-radius: 0 0 5px 5px;
}

.error {
	margin: 5px;
	font-size: 80%;
	color: #ffffff;
	background-color: #900;
	opacity: 0;
	border-radius: 0 0 5px 5px;
}

.error.active, .error-name.active {
	opacity: 1;
}


/* --------------- FOOTER --------------- */

footer {
	color: #ffffff;
	background-color: #2b2d5c;
	border-top: 1px solid #55577d;
	padding-top: 90px;
	padding-bottom: 33px;
}

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__header {
		font-size: 24px;
		font-family: $muli-reg;
		font-weight: 600;
		text-transform: capitalize;
		margin-bottom: 25px;
		white-space: nowrap;
		&-small {
			font-size: 20px;
			margin-top: 25px;
			margin-bottom: 20px;
		}
	}
	&-post {
		display: flex;
		margin-bottom: 30px;
		&__img {
			width: 70px;
			height: 60px;
			margin-right: 30px;
		}
		&-body {
			margin-top: -8px;
		}
	}
	&__link {
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $muli-reg;
		font-weight: 600;
	}
	&-menu {
		&__link {
			text-decoration: none;
			color: #ffffff;
			font-size: .875em;
			font-family: $muli-reg;
			font-weight: 600;
		}
	}
	&-item {
		margin-bottom: 100px;
		max-height: 270px;
		&:nth-child(1) {
			flex-basis: 200px;
		}
		&:nth-child(2) {
			flex-basis: 370px;
		}
		&:nth-child(3) {
			flex-basis: 200px;
		}
		&:nth-child(4) {
			flex-basis: 200px;
		}
	}
}

.instargam-photo-1 {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	&__right {
		margin-left: 15px;
	}
}

.instargam-photo-2 {
	display: flex;
	justify-content: space-between;
}

.social-footer {
	&__item {
		display: inline-block;
		margin-right: 12px;
		width: 24px;
		height: 24px;
	}
	&__link {
		color: #ffffff;
		transition: all .2s ease;
		&:hover {
			color: $accent;
		}
	}
	.sprite {
		margin-right: 10px;
	}
}

.copyright {
	font-size: .875em;
	text-align: center;
	font-family: $muli-reg;
	font-weight: 100;
	border-top: 1px solid #41426d;
	padding-top: 24px;
}

@import "media"; // Always at the end
